<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">{{post.title}}</h5>
            </div>
            <div class="card-body">
                <p>{{post.body}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="/theme/assets/img/bg5.jpg" alt="..." />
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="/theme/assets/img/user-icon2.png" alt="..." />
                        <h5 class="title">{{post.user.name}}</h5>
                    </a>
                    <p class="description">{{post.user.email}}</p>
                </div>
                <p class="description text-center">
                    Works for {{post.user.company.name}} <br />
                    {{post.user.company.catchPhrase}} <br />
                </p>
            </div>
            <hr />
            <div class="button-container">
                {{post.user.address.street}}, {{post.user.address.suite}}, {{post.user.address.city}}
            </div>
        </div>
    </div>
</div>